<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aca es el titulo</title>
</head>
<body>
    <p><mark><strong>Excelente es muy facil usar plantillas!</strong></mark><span style="color:green">Esto es verde</span_style> </p>
    
    <p>Nombre= {{nombre}} </p>
    <p>Apellido= {{apellido}}</p>

    <h2>LISTA DE NOTAS</h2>

    {% for nota in lista %}

      {% if nota < 6 %}
       <p style="color:red">Desaprobado= {{nota}}</p>
      {% else %}
       <p style="color:green">Aprobado= {{nota}}</p>
      {% endif %}

    {% endfor %} 



</body>
</html>